@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,600&family=Monoton&family=Pacifico&display=swap");

$main-font: "Josefin Sans", sans-serif;
$accent-font: "Fugaz One", cursive;
$heading-font: "Monoton", cursive;
$sub-heading-font: "Pacifico", cursive;

$root-font-size: 16px !default;
$root-line-height: 1.5 !default;
$root-font-weight: normal !default;
