.App {
    background-color: rgb(164, 230, 228);
    width: 100vw;
    height: 100%;
    margin: 0;
}

.navi {
    color: red !important;
    font-size: large;
    background-color: rgb(164, 230, 228);
}

#navlink {
    background-color: transparent !important;
}

.header-container {
    border: 10px double rgb(248, 229, 144);
    border-radius: 2%;
    background-image: url(zigzag-937583.jpg);
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-container h1 {
    font-family: "Monoton", cursive;
    font-size: 10rem;
    color: pink;
    word-spacing: 10rem;
    font-weight: 400;
}

.sub-header {
    font-family: "Fugaz One", cursive;
    color: pink;
    font-size: 4rem;
}

.contact-container {
    list-style: none;
    display: inline-flex;
    width: 95%;
    justify-content: space-between;
}

.contact-container div {
    display: flex;
    justify-content: space-between;
}

.contact-container div img {
    height: 25px;
    display: inline;
    justify-self: center;
}

/*a {
    text-decoration: unset;
    color: black;
}*/

.capitalize {
    text-transform: capitalize;
}

.proj-bg {
    min-height: max-content;
    /*background-color: rgb(55, 182, 200);*/
    width: 90%;
    border: 2px solid black;
    margin-top: 4%;
    padding: 2%;
}

.toleft {
    background-color: #fff;
    width: 95%;
    border-radius: 2%;
    color: red;
}
