body {
    width: 100vw;
}

.contact-container ul {
    list-style: none;
    display: inline-flex;
    width: 95%;
    /*justify-content: space-between;*/
}

li {
    display: flex;
    justify-content: space-between;
}

label img,
li img {
    height: 25px;
    display: inline;
    justify-self: center;
    /*margin: 0;
    padding: 0;*/
}

.proj-bg {
    min-height: max-content;
    background-color: rgb(55, 182, 200);
    width: 90%;
}

.toleft {
    background-color: #fff;
    width: 95%;
    border-radius: 2%;
    color: red;
}
